.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 메인 */
.main{
  width: 100%;
  height: 600px;
  border: 1px solid;
  position: relative;
  float: left;
  z-index: 1;
}
/* 사이드메뉴 */
.sideMenu{
  transition-delay: 2s;
  position: fixed;
  left: 0;
  min-width: 150px;
  height: 600px;
  border: 1px solid;
  float: left;
  z-index: 2;
}
.hideMenu{
  max-width: 0;
  display: none;
}
/* view 사이드 버튼 */
.viewSideButton{
  position: fixed;
  left: 150px;
  background-color: #373d47;
  padding: 0 5px 2px 5px;
  z-index: 3;
}
.viewSideButton::before{
  color: #fff;
  content: "↔";
}
.viewSideButton-active{
  position: fixed;
  left: 0;
  background-color: #373d47;
  padding: 0 5px 2px 5px;
  z-index: 3;
}
.viewSideButton-active::before{
  color: #fff;
  content: "↔";
}
/* 사이드 드랍다운 */
.menuTitle{
  padding: 3px 5px 3px 5px;
  background-color: #dddddd;
  border-bottom:1px solid #5f5f5f ;
  border-top:1px solid #5f5f5f;
}
.menuTitle::after{
  position: absolute;
  right: 10px;
  font-weight: bolder;
  content: "∨";
}
.menuTitle-active{
  padding: 3px 5px 3px 5px;
  background-color: #dddddd;
  border-bottom:1px solid #5f5f5f ;
  border-top:1px solid #5f5f5f;
}
.menuTitle-active::after{
  position: absolute;
  right: 10px;
  font-weight: bolder;
  content: "∧";
}
.menu{
  padding-left: 30px;
  margin: 0;
}
.menu li{
  cursor: move;
  list-style-type: "- ";
}
.menu-hidden{
  margin: 0;
  display: none;
}